<br>
<div class="row" style="margin:0px;">
  <div class="col-xs-6 col-xs-offset-3 text-center" style="line-height:80%;">
    Your Children <br><span class="fg-9">Tap infant name for more details</span>
  </div>
  <!-- <div class="col-xs"><a ng-click="addChild()" class="btn btn-default"><i class="fa fa-plus"></i></a> </div> -->
  <div class="col-xs"><a href="#/newinfant" class="btn btn-default"><i class="fa fa-plus"></i></a> </div>
</div>
<br>
<ul class="list-group" style="border-top:solid 1px #cecece;">

  <li ng-repeat="a in infants" class="list-group-item">
    <a style="color:#555;" href="#/options/{{a._id}}" >
    <div class="row">
        <div class="col-xs" style="padding:15px;line-height:80%;">
          {{a.firstname}} {{a.lastname}} <br>
          <span class="fg-10 i" style="text-transform:uppercase;">{{a.type}}</span>
        </div>
    </div>
    </a>
  </li>

</ul>

<ul class="list-group">

  <li ng-if="infants.length == 0" class="list-group-item">
    <div class="row">
      <div class="col-xs" style="padding:15px;">
        You haven't registered any infants yet. Tap the button above to register a baby or pregnancy.
      </div>
    </div>
  </li>

</ul>
