<ui-gmap-google-map center='map.center' zoom='map.zoom' style="height:100%;">

  <ui-gmap-marker ng-repeat="a in locations" idKey="a.index" coords="a.coords"> </ui-gmap-marker>

</ui-gmap-google-map>
