
<div class="navbar navbar-app navbar-absolute-top" style="color:#4D7BC6">
    <div class="fg-20 navbar-brand navbar-brand-center">
        {{$brand}}
        <img ng-show="$logo" class="ct" src="img/cloud.png" style="width:60px;">
    </div>

    <div class="btn-group pull-left">
        <div ng-hide="$needsBack" ui-toggle='sidebar' class="sidebar-toggle btn btn-navbar" style="color:#4D7BC6">
            <i class="fg-20 fa fa-bars"></i>
        </div>
        <div ng-show="$needsBack" ng-click="$back()" class="btn btn-navbar" style="color:#4D7BC6">
            <i class="fg-20 fa fa-chevron-left"></i>
        </div>
    </div>

    <div ng-show="$alternateoption" class="btn-group pull-right">
        <div class="btn btn-navbar" ng-click="$alternatefunction()">
            {{$alternateicon}}
        </div>
    </div>
</div>

<!--

<div ng-show="$supplierProfileNavbar" class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group btn-group-xs btn-group-justified" role="group">

        <div class="btn-group" role="group">
          <button ng-show="$following" ng-click="$follow($viewsupplier, true)" type="button" class="btn btn-default">
              <i class="fg-20 fa fa-heart" style="margin:5px;color:#0077FF;"></i><br>
              Unfollow <span class="fg-9">{{$followers}}</span
          </button>
          <button ng-hide="$following" ng-click="$follow($viewsupplier, false)" type="button" class="btn btn-default">
              <i class="fg-20 fa fa-heart" style="margin:5px;"></i><br>
              Follow <span class="fg-9">{{$followers}}</span
          </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <i class="fg-20 fa fa-newspaper-o" style="margin:5px;"></i><br>
                View All Posts
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <i class="fg-20 fa fa-bell-slash" style="margin:5px;"></i><br>
                Mute Supplier
            </button>
        </div>

    </div>
</div>

-->
