<style>
    .form-group{
        padding:5px;
    }
</style>

<form id="newinfant" name="form" novalidate style="padding:10px;">
    <p>Register your baby, or a pregnancy for free...</p>
    <div class="form-group">
        <select ng-change="checktype()" class="form-control" id="type" ng-model="type" name="type">
          <option value="0" selected="selected">-- Choose type --</option>
          <option value="baby">Baby</option>
          <option value="pregnancy">Pregnancy</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="firstname" class="form-control" id="firstname" name="firstname"
        placeholder="First Name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="lastname" class="form-control" id="lastname" name="lastname"
        placeholder="Last Name">
        <span class="help-block"></span>
    </div>
    <div ng-show="isbaby" class="form-group">
        <input ng-model="bcertno" class="form-control" id="bcertno" name="bcertno"
        placeholder="Birth Certificate Number">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <select class="form-control" id="gender" name="gender">
          <option value="0" selected="selected">-- Choose Gender --</option>
          <option ng-hide="isbaby" value="dontknow">Don't Know Yet</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="dateofbirth" class="form-control" id="dateofbirth" name="dateofbirth"
        placeholder="Date of Birth">
        <span class="help-block"></span>
    </div>

    <input type="hidden" name="p" value="_">
    <button type="submit" ng-click="newinfant()" class="btn btn-default">Submit</button>
    <br>
</form>
