
<div class="list-group" ui-turn-off='uiSidebarLeft'>
    <a class="list-group-item" href="#/results/{{infantid}}">
        Graphs
        <i class="fa fa-chevron-right pull-right"></i>
    </a>
    <a class="list-group-item" href="#/ailments/{{infantid}}">
        Ailments
        <i class="fa fa-chevron-right pull-right"></i>
    </a>
    <a class="list-group-item" href="#/vaccines/{{infantid}}">
        Vaccinations
        <i class="fa fa-chevron-right pull-right"></i>
    </a>
    <a class="list-group-item" href="#/recommendations/{{infantid}}">
        Recommendations
        <i class="fa fa-chevron-right pull-right"></i>
    </a>
    <a class="list-group-item" href="#/childprofile/{{infantid}}">
        Child Information
        <i class="fa fa-chevron-right pull-right"></i>
    </a>
</div>
