
<ul ng-if="recos.length == 0" class="list-group">
  <li class="list-group-item">
    Recommendations will be generated automatically by the system once they are available
  </li>
</ul>


<ul ng-show="recos.length > 0" class="list-group">
  <li ng-repeat="r in recos" class="list-group-item">
    <p class="strong">{{r.subject}}</p>
    <p>{{r.message}}</p>
    <p class="i fg-12">{{r.send_time}}</p>
  </li>
</ul>
