<div class="container">
<form id="signupform" name="form" novalidate style="padding:10px;">
  <img src="icon.png" style="border-radius:3px;width:60px;">
    <p>Sign up for free...</p>
    <div class="form-group">
        <input type="name" ng-model="name" class="form-control" id="name" name="name" placeholder="Full name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="maintelephone" ng-model="maintelephone" class="form-control" id="maintelephone"
        name="maintelephone" placeholder="Phone number">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="password" ng-model="password" class="form-control" id="password" name="password"
        placeholder="Password">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="password" ng-model="rpassword" class="form-control" id="rpassword" name="rpassword"
        placeholder="Repeat Password">
        <span class="help-block"></span>
    </div>
    <div class="form-group bg-transparent">
        <label for="agree" class="bg-transparent">I have read and agree with Cloud Baby's Terms and Conditions</label>
        <input type="checkbox" ng-model="agree" class="form-control" name="agree" id="agree" value="yes">
        <span class="help-block" style="display:none;"></span>
    </div>
    <input type="hidden" name="action" value="signup">
    <input type="hidden" name="p" value="_">
    <button type="submit" ng-click="signup()" class="btn btn-default">Submit</button>
    <br>
    <br>
    Already have an account? <br><a href="#/">Sign In</a>
</form>
</div>
