<form style="
height: 100%;
padding-top: 60px !important;
padding: 10px;
background:url(img/background.jpeg);
background-position:center;
background-size:100%;
color:white;
" 
id="signinform" name="form" novalidate ng-controller="loginControl">
  <div class="text-center text-shadow">
    <img src="icon.png" style="width:70px;border-radius:5px;">
    <div class="row text-center nomargin">
      <div class="col-xs">
        <h3>
          Cloud Baby
        </h3>
      </div>
    </div>
    <div class="text-center nomargin">
      <p class="text-shadow">
        A place where you can find tips on your diet, physical and mental wellbeing throughout your pregrancy
        and child birth.<br>
      </p>
    </div>
    <div class="form-group">
      <input type="text" ng-model="username" class="form-control" id="username" name="username" placeholder="Email / Phone">
      <span class="help-block"></span>
    </div>
    <div class="form-group">
      <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Password">
      <span class="help-block"></span>
    </div>
    <button type="submit" ng-click="login()" class="btn btn-default">Submit</button>
    <br>
    <div class="form-group">
      Don't have an account? <a href="#/signup">Sign Up</a>
    </div>
  </div>
</form>
