<ul class="list-group">
  <li ng-repeat="a in ailments" class="list-group-item">
    <div class="row">
      <div class="col-xs" style="padding:15px;">
        <span class="strong">Ailment:</span><br>
        {{a.ailment}}<br>
        <span class="strong">Description:</span><br>
        {{a.description}}
        <br>
        <div class="row middle-xs" style="padding:0px;margin:0px;">
          <div class="col-xs-8" style="padding:0px;margin:0px;"><span class="strong">Type</span><br>{{a.type}}</div>
          <div class="col-xs" style="padding:0px;margin:0px;"><span class="strong">Severity</span><br>{{a.severity}}</div>
        </div>
        <span class="i fg-12">Diagnosed: {{a.date}}</span>
      </div>
    </div>
  </li>
</ul>
