<style>
    .form-group{
        padding:5px;
    }
</style>

<form id="signupform" name="form" novalidate style="padding:10px;margin-bottom:20px;">

    <div class="form-group">
        <select class="form-control" id="type" ng-model="type" name="type">
          <option value="0" selected="selected">-- Choose type --</option>
          <option value="baby">Baby</option>
          <option value="pregnancy">Pregnancy</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group" id="personal">
        <input ng-model="bcertno" class="form-control" id="bcertno" name="bcertno" placeholder="Birth Certificate Number">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="firstname" class="form-control" id="firstname" name="firstname" placeholder="First name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="lastname" class="form-control" id="lastname" name="lastname" placeholder="Last name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="text" ng-model="othernames" class="form-control" id="othernames" name="othernames" placeholder="Other names">
        <span class="help-block"></span>
    </div>
    <hr>
    <div class="form-group">
        <input ng-model="dateofbirth" class="form-control" id="dateofbirth" name="dateofbirth" placeholder="Date of birth">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <select ng-model="gender" class="form-control" id="gender" name="gender" placeholder="Gender">
          <option ng-show="bcertno == ''" value="dontknow">Don't Know Yet</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <span class="help-block"></span>
    </div>

    <input type="hidden" name="actionplus" value="_">
    <br>
    <div ng-show="updatesuccess" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Profile successfully updated
    </div>
    <button type="submit" ng-click="updateChildProfile()" class="btn btn-default">Submit</button>

</form>
