<style>
    .form-group{
        padding:5px;
    }
</style>

<form id="signupform" name="form" novalidate style="padding:10px;margin-bottom:20px;">
    <div class="form-group">
        <input ng-model="firstname" class="form-control" id="firstname" name="firstname" placeholder="Your first name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="lastname" class="form-control" id="lastname" name="lastname" placeholder="Your last name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="text" ng-model="othernames" class="form-control" id="othernames" name="othernames" placeholder="Other names">
        <span class="help-block"></span>
    </div>
    <hr>
    <div class="form-group">
        <input ng-model="email" class="form-control" id="email" name="email" placeholder="Email address">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="nationalid" class="form-control" id="nationalid" name="nationalid" placeholder="National ID">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="homeaddress" class="form-control" id="homeaddress" name="homeaddress" placeholder="Your physical address">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="maintelephone" class="form-control" id="maintelephone" name="maintelephone" placeholder="Primary contact number">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="othertelephones" class="form-control" id="othertelephones" name="othertelephones" placeholder="Secondary contact number">
        <span class="help-block"></span>
    </div>
    <hr>
    <div class="form-group" id="father">
        <input ng-model="spousefirstname" class="form-control" id="spousefirstname" name="spousefirstname" placeholder="Spouse's first name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="spouselastname" class="form-control" id="spouselastname" name="spouselastname" placeholder="Spouse's last name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="text" ng-model="spouseothernames" class="form-control" id="spouseothernames" name="spouseothernames" placeholder="Spouse's other names">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="spousenationalid" class="form-control" id="spousenationalid" name="spousenationalid" placeholder="Spouse's ID number">
        <span class="help-block"></span>
    </div>
    <hr>

    <input type="hidden" name="actionplus" value="_">
    <br>
    <div ng-show="updatesuccess" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Profile successfully updated
    </div>
    <button type="submit" ng-click="updateProfile()" class="btn btn-default">Submit</button>

</form>
