<div style="padding:10px;">
  <p class="text-center">{{name}}'s Growth Status plotted on graphs against time</p>

    <h3>Weight</h3>
    <div class="row">
      <div class="col-xs-12">
        <a class="thumbnail">
          <canvas id="weightChart" style="width:100%;"></canvas>
        </a>
      </div>
    </div>

    <div class="row middle-xs">
      <div class="col-xs">

      </div>
      <div class="col-xs">

      </div>
    </div>

    <hr>

    <h3>Height</h3>
    <div class="row">
      <div class="col-xs-12">
        <a class="thumbnail">
          <canvas id="heightChart" style="width:100%;"></canvas>
        </a>
      </div>
    </div>

    <h3>Head Circumference</h3>
    <div class="row">
      <div class="col-xs-12">
        <a class="thumbnail">
          <canvas id="headChart" style="width:100%;"></canvas>
          <div id="headlegend"></div>
        </a>
      </div>
    </div>
</div>
