<form id="signinform" name="form" novalidate style="padding:10px;" ng-controller="loginControl">
  <div class="text-center">
    <img src="iconoriginal.png" style="width:70px;border-radius:5px;">
    <div class="row text-center nomargin">
      <div class="col-xs">
        <h3>
            Welcome to Cloud Baby
        </h3>
      </div>
    </div>
    <div class="text-center nomargin">
      <p>
        A place where you can find tips on your diet, physical and mental wellbeing throughout your pregrancy
        and child birth.<br>
        Sign in to get started

      </p>
    </div>
  <div class="form-group">
      <input type="text" ng-model="username" class="form-control" id="username" name="username" placeholder="Email / Phone">
      <span class="help-block"></span>
  </div>
  <div class="form-group">
      <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Password">
      <span class="help-block"></span>
  </div>
  <button type="submit" ng-click="login()" class="btn btn-default">Submit</button>
  <br>
  <div class="form-group">
    Don't have an account? <a href="#/signup">Sign Up</a>
  </div>
</form>
