<ul class="list-group">
  <li ng-repeat="a in vaccines" class="list-group-item">
    <div class="row">
      <div class="col-xs" style="padding:15px;">
        <span class="strong">Vaccine Against:</span><br>
        {{a.disease}}<br>
        <span class="strong">Details:</span><br>
        {{a.description}}<br><hr>
        <span class="strong">Drug:</span><br>
        {{a.drugadministered}}<br>
        <div class="row middle-xs" style="padding:0px;margin:0px;">
          <div class="col-xs-8" style="padding:0px;margin:0px;"><span class="strong">Dosage</span><br>{{a.amount}}oc</div>
          <div class="col-xs" style="padding:0px;margin:0px;"><span class="strong">CentreID</span><br>{{a.centreid}}</div>
        </div>
        <span class="i fg-12">Prescribed: {{a.date}}</span>
      </div>
    </div>
  </li>
</ul>
