.text-shadow {
    text-shadow: 1px 1px 1px black;
}

body, input, select, selectarea {
    font-size:20px;
    color:black;
}

.navbar-absolute-bottom .active-menu-item button {
    color:#0077FF !important;
}

.navbar-absolute-bottom button:hover {
    background:#F7F7F7 !important;
}

.navbar-absolute-bottom button:focus {
    border:hidden !important;
    box-shadow: none !important;
}

.navbar-absolute-bottom button {
    color:grey !important;
    line-height:100% !important;
}

.help-block {
    font-size:11px;
}

body, input, selectarea {
    font-size:18px;
    color:black;
    font-family: "Calibri";
    font-weight: 400;
}

.navbar-absolute-bottom button {
    text-transform:none !important;
    font-size:9px;
    padding:2px;
}

a {
    text-decoration:none !important;
}

.app {
    background:white;
}

@font-face {
  font-family: "MotionPicture";
  src: url(../fonts/MotionPicture_PersonalUseOnly.ttf) format("truetype");
}

@font-face {
  font-family: "Vertigo";
  src: url(../fonts/VertigoFLF.ttf) format("truetype");
}

@font-face {
  font-family: "AvantageSmall";
  src: url(../fonts/AvantageSmall.ttf) format("truetype");
}

@font-face {
  font-family: "Alex Brush";
  src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Calligraffiti";
  src: url(../fonts/Calligraffiti.ttf) format("truetype");
}

@font-face {
  font-family: "Bahamas";
  src: url(../fonts/Bahamas.ttf) format("truetype");
}

@font-face {
  font-family: "Milasian Thin";
  src: url(../fonts/MilasianThinPERSONAL.ttf) format("truetype");
}
